<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#">Ana Sayfa</a>
                    <a href="#">Hakkımda</a>
                    <a href="#">Hizmetlerim</a>
                    <a href="#">Projelerim</a>
                    <a href="#">Referanslarım</a>
                    <a href="#">İletişim</a>
                </p>
                <p class="footer-company-name">
                    Tüm hakları saklıdır. &copy; 2025 <a href="#"></a> Tasarlayan :
                    <a href="https://html.design/">İlayda KAYAHAN</a>
                </p>
            </div>
        </div>
    </div><!-- end container -->
</div>
