@model WebApplication1.Models.TblProject 
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>
    Proje Güncelleme Sayfası
</h2>

<form method="post">
    <label>Proje ID</label>
    @Html.TextAreaFor(x => x.ProjectID, new { @class = "table table-bordered" })
    <br />
    <label>Proje Görsel Linki</label>
    @Html.TextAreaFor(x => x.ImageUrl, new { @class = "table table-bordered" })
    <br /><label>Proje Kategorisi</label>
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.v, new { @class = "table table-bordered" })
    <br />
    <label>Proje Açıklaması</label>
    <textarea rows="4" class="table table-bordered" name="Description"> @Model.Description</textarea>
    <br />
    <button class="btn btn-success">Projeyi Güncelle </button>
</form>