<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(https://i.pinimg.com/736x/bf/be/5b/bfbe5bc300390e9179811b006fff19b1.jpg); ">
        <div class="user-logo">
            <div class="img" style="background-image: url(https://media.licdn.com/dms/image/v2/D4D03AQH5Hf9uzO1aJQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1688422051995?e=2147483647&v=beta&t=MXf6FqNVC0BO6bSr_uy1CSy79h2Pdn574YiI77n74gc);"></div>
            <h3>İlayda Kayahan</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="#"><span class="fa fa-heart  mr-3"></span> Dashboard</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Cv mi İndir</a>
        </li>
        <li>
            <a href="/Category/CategoryList/"><span class="fa fa-tasks  mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/ProjectList/"><span class="fa fa-trophy mr-3"></span> Projelerim</a>
        </li>
        <li>
            <a href="/Testimonial/TestimonialList/"><span class="fa fa-users mr-3"></span> Referanslarım</a>
        </li>
        <li>
            <a href="/About/AboutList"><span class="fa fa-address-card mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Service/ServiceList/"><span class="fa fa-globe mr-3"></span> Hizmetlerim</a>
        </li>
        
        <li>
            <a href="/Contact/ContactList"><span class="fa fa-envelope mr-3"></span> Mesajlarım</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Çıkış Yap</a>
        </li>
    </ul>

</nav>
